[submodule "Utilitaires/JSON-java"]
	path = Utilitaires/JSON-java
	url = git@github.com:douglascrockford/JSON-java.git
[submodule "efsm_workflow"]
	path = efsm_workflow
	url = git@github.com:pascalfares/efsm_workflow.git
[submodule "OAuth-Google"]
	path = OAuth-Google
	url = git@github.com:mohamad-dekmak/OAuth-Google.git
[submodule "ibrahim-Keyrouz"]
	path = ibrahim-Keyrouz
	url = git@github.com:Ibrahim-Keyrouz/SMB215.git
